<div class="main_nav_">
    <div><a class="color_text" href="{% url 'home' %}">Remember</a></div>
    <div><a class="disable" href="">Credentials</a></div>
</div>

<style>
    .main_nav_{
        display: flex;
        font-size: 12px;
        justify-content: center;
        margin-top: 32px;
    }
    .disable{
        color: gray;
        text-decoration: none;
        cursor: none;
    }
    .color_text{
        color: white;
        text-decoration: none;
        padding: 0px 10px;

    }
    
</style>