<div class="navbar_container">
    <div class="title">Remember</div>
    <form method="POST" action="{% url 'home' %}">
        <div class="navbar">
            {% csrf_token %}
            <div class="primary_input">
                <input class="input_" name="task" type="text" placeholder="What's Next">
            </div>
            <div>
                <button type="submit" class="primary_btn">Enter</button>
            </div>

        </div>
    </form>
</div>

<style>
    .navbar{
        display: flex;
        justify-content: center;
        margin-top: 70px;
    }
    .title{
        font-size: 24px;
        font-weight: 700;
        position: absolute;
        top:5%;
        z-index: 11;
        left: 50%;
        color: rgb(126, 126, 126);
        transform: translate(-50%, 50%);
    }
    
</style>